/.obsidian/config
/.obsidian/cache
/.obsidian/workspace
/.obsidian/starred.json
/.obsidian/graph.json
obsidian.css
/.obsidian/themes
/.obsidian/themes/Ono Sendai.css
/.obsidian/themes/Discordian.css
/.obsidian/themes/Obsidian Nord.css
/.obsidian/themes/Cybertron.css
/.obsidian/plugins